.about {
	position: relative;
	color: $color-black;

	&__title {
		margin: 0;

		@include mobile {
			@include font(700, 2rem, normal);
		}

		@include tablet {
			@include font(700, 2.4rem, normal);
		}
	}

	&__text--gray {
		@include font (400, 1.4rem, normal);

		color: $color-gray;
	}

	&__text {
		@include font (400, 1.4rem, normal);
	}

	&__text--bold {
		@include font (700, 1.4rem, normal);
	}

	&__description {
		line-height: 140%;
	}

	&__experience {
		@include df-column;

		width: 100%;

		.experience__list {
			@include mobile {
				@include df-column;

				gap: 60px;
			}

			@include tablet {
				@include df-row;

				flex-wrap: wrap;
				justify-content: space-between;
				gap: 30px;
			}

			@include desktop {
				@include df-column;

				gap: 60px;
			}
		}

		.experience-list__item {
			@include df-column;

			width: 100%;
			letter-spacing: -0.45px;

			@include mobile {
				gap: 8.5px;
			}

			@include tablet {
				max-width: vw(325, $tablet);
				gap: 9px;
			}

			@include desktop {
				max-width: 100%;
				gap: 9px;
			}
		}

		.container-job {
			@include df-row;

			align-items: center;
			gap: 8px;

			.container-text {
				@include df-row;

				flex-wrap: wrap;
				gap: 0 8px;
			}
		}

		.container {
			@include df-column;

			gap: 3px;

			&__additional-links {
				@include df-column;

				gap: 3px;
			}

			.about__link {
				@include font(400, 1.4rem, normal);

				text-decoration-line: underline;
				color: $color-blue;
			}
		}

		@include mobile {
			max-width: 100%;
			gap: 20px;
		}

		@include tablet {
			gap: 30px;
		}

		@include desktop {
			z-index: 5;
			max-width: vw(555);
		}

		@include desktop-xl {
			z-index: 3;
			max-width: 600px;
		}
	}

	&__education {
		@include df-column;

		.education-list {
			@include df-row;

			flex-wrap: wrap;

			@include mobile {
				justify-content: space-between;
				gap: 20px;
			}

			@include tablet {
				justify-content: center;
			}

			@include desktop {
				max-width: 150px;
				gap: 41px;
			}
		}

		.education__text {
			line-height: 140%;
			text-align: center;
		}

		.education-list__item {
			@include df-column;

			letter-spacing: -0.3px;
			gap: 5px;

			.education-list-type {
				@include df-column;

				gap: 5px;
			}

			.education-list__image {
				margin: 0 auto;

				@include mobile {
					width: 40px;
				}

				@include tablet {
					width: 30px;
				}
			}

			.education-list__image--first {
				margin: 0 auto;
				max-width: 61.5px;
			}

			@include mobile {
				width: 100%;
			}

			@include mobileM {
				width: 157px;
			}

			@include mobileL {
				width: 100%;
				max-width: 160px;
			}

			@include tablet {
				max-width: 250px;
			}

			@include desktop {
				width: 100%;
				max-width: 150px;
			}
		}

		@include mobile {
			gap: 16px;
		}

		@include desktop {
			align-items: center;
			margin-right: 55px;
			max-width: vw(270);
			gap: 35px;
		}
	}

	&__container-image {
		position: relative;
		margin: 0 auto;
	}

	&__image {
		display: block;
		opacity: 0;
		transition: $duration-normal;

		&[data-loaded="true"] {
			opacity: 1;
		}

		@include mobile {
			position: relative;
			min-height: 170px;
			max-width: vw(116, $mobile);
		}

		@include mobileM {
			min-height: 200px;
		}

		@include mobileL {
			min-height: 225px;
		}

		@include tablet {
			min-height: 365px;
			max-width: 250px;
		}

		@include desktop {
			position: sticky;
			left: -12px;
			top: 0;
			z-index: 5;
			margin-left: -60px;
			max-width: 300px;
		}

		@include laptop {
			margin-left: -50px;
			max-width: 340px;
		}

		@include desktop-xl {
			z-index: 3;
		}
	}

	@include mobile {
		@include df-column;

		gap: 40px;
	}

	@include desktop {
		@include df-row;

		justify-content: space-between;
		gap: 0;
	}
}