.resume {
	&__main-info {
		@include df-column;

		@include mobile {
			z-index: 3;
			max-width: vw(565, $mobile);
			gap: 35px;
		}

		@include tablet {
			max-width: 450px;
		}

		@include desktop {
			z-index: 5;
			max-width: vw(565);
			gap: 46px;
		}

		@include desktop-xl {
			z-index: 3;
		}
	}

	&__logotype {
		.logotype__picture {
			display: block;
			opacity: 0;
			transition: $duration-normal;

			&[data-loaded="true"] {
				opacity: 1;
			}
		}

		@include mobile {
			max-width: 80px;
			max-height: 80px;
		}

		@include desktop {
			max-width: 150px;
			max-height: 150px;
		}
	}

	&__text {
		@include df-column;

		color: $color-black;

		@include mobile {
			gap: 20px;
		}

		@include desktop {
			gap: 30px;
		}
	}

	&__title {
		margin: 0;

		@include mobile {
			@include font(700, 2.8rem, 140%);
		}

		@include desktop {
			@include font(700, 3.6rem, 140%);
		}
	}

	&__description {
		font-style: normal;
		letter-spacing: -0.35px;

		@include mobile {
			@include font(400, 1.4rem, 145%);
		}

		@include tablet {
			@include font(400, 1.4rem, 140%);
		}
	}

	&__social {
		@include df-column;

		color: $color-black;
		gap: 15px;

		@include tablet {
			margin: 210px 0 0;
		}

		@include desktop {
			margin: 197px 125px 0 0;
		}

		@include desktop-xl {
			margin-top: 210px;
		}
	}

	.social-links {
		@include df-column;

		gap: 10px;

		&__item {
			@include font(400, 1.4rem, 140%);
		}
	}

	.social-icons {
		@include mobile {
			max-width: 115px;
		}

		@include desktop-xl {
			max-width: 150px;
		}
	}

	@include mobile {
		@include df-column;

		gap: 20px;
	}

	@include tablet {
		@include df-row;

		justify-content: space-between;
	}
}
