.skills {
	position: relative;
	z-index: 1;

	&-container {
		@include df-column;

		color: $color-black;

		@include mobile {
			margin-top: 5px;
			gap: 20px;
		}

		@include tablet {
			margin-top: 0;
			gap: 30px;
		}
	}

	&__title {
		margin: 0;

		@include mobile {
			@include font(700, 2.2rem, normal);
		}

		@include tablet {
			@include font(700, 2.4rem, normal);
		}
	}

	&__list {
		// @include mobileL {
		// 	@include df-row;
		// 	flex-wrap: wrap;
		// justify-content: space-between;
		// }

		.list__item {
			@include df-column;

			@include mobile {
				gap: 5px;
			}

			@include mobileL {
				max-width: vw(140, $mobileL);
			}

			@include tablet {
				max-width: vw(200, $tablet);
				gap: 10px;
			}

			@include desktop {
				max-width: vw(270);
			}

			@include desktop-xl {
				max-width: 350px;
			}
		}

		.list__title {
			@include font(700, 1.4rem, normal);

			margin: 0;
			letter-spacing: -0.3px;
		}

		.list__text {
			@include font(400, 1.4rem, 140%);

			letter-spacing: -0.5px;
		}

		@include mobile {
			@include df-column;

			gap: 23px;
		}

		@include mobileL {
			@include df-row;

			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}