section.love
	.love__container
		each image, key in data.love.images
			if key === 0
				+lazyPicture({
					src: `${baseDir}${image.url}`,
					alt: image.alt,
				}).love__picture.image-hidden--left(data-scroll-class="active-image" data-scroll)
			else
				+lazyPicture({
					src: `${baseDir}${image.url}`,
					alt: image.alt,
				}).love__picture.image-hidden--right(data-scroll-class="active-image" data-scroll)