section.resume#resume-part
	.resume__main-info
		.resume__logotype.title--visible.hidden-right
			+lazyPicture({
				src: `${baseDir}${data.home.resume.logotype}`,
				alt: 'logotype',
			}).logotype__picture
		.resume__text
			h1.resume__title.title--visible.hidden-right
				!= data.home.resume.title
			p.resume__description.block-text--visible.hidden-up
				!= data.home.resume.description

	.resume__social.block-left--visible.hidden-left
		ul.social-links
			each object, key in data.home.resume.socialLinks
				li.social-links__item
					a(href=object.url target="_blank")
						!= object.name
		.social-icons#shareButton
			svg(
				xmlns="http://www.w3.org/2000/svg" width="115" height="25" viewbox="0 0 115 25" fill="none")
				rect(width="25" height="25" rx="5" fill="#282a33")
				path(d="M17.8617 15.8594L18.4317 12.1429H14.8659V9.73215C14.8659 8.71515 15.3631 7.72322 16.9602 7.72322H18.5824V4.55916C18.5824 4.55916 17.1109 4.30804 15.7046 4.30804C12.7666 4.30804 10.848 6.08844 10.848 9.31028V12.1429H7.5835V15.8594H10.848V24.8443C11.5034 24.9473 12.1739 25 12.857 25C13.54 25 14.2105 24.9473 14.8659 24.8443V15.8594H17.8617Z" fill="white")
				rect(x="45" width="25" height="25" rx="5" fill="#282a33")
				path(fill-rule="evenodd" clip-rule="evenodd" d="M65.1185 8.53223C65.2387 8.15142 65.1185 7.87444 64.5862 7.87444H62.8174C62.371 7.87444 62.1649 8.11677 62.0447 8.37647C62.0447 8.37647 61.1345 10.5922 59.8638 12.029C59.4517 12.4444 59.2628 12.5829 59.0396 12.5829C58.9193 12.5829 58.7648 12.4444 58.7648 12.0636V8.51491C58.7648 8.06485 58.6274 7.85712 58.2496 7.85712H55.4677C55.193 7.85712 55.0213 8.06485 55.0213 8.27258C55.0213 8.70537 55.6566 8.80921 55.7253 10.0209V12.6522C55.7253 13.2234 55.6223 13.3273 55.3991 13.3273C54.798 13.3273 53.3384 11.0942 52.4626 8.54955C52.2909 8.04752 52.1192 7.85712 51.6727 7.85712H49.8868C49.3716 7.85712 49.2858 8.0995 49.2858 8.35915C49.2858 8.82653 49.8868 11.1808 52.0848 14.2967C53.5445 16.4259 55.6223 17.5684 57.4941 17.5684C58.6274 17.5684 58.7648 17.3087 58.7648 16.876V15.2661C58.7648 14.7467 58.8678 14.6602 59.2285 14.6602C59.486 14.6602 59.9497 14.7987 60.9972 15.82C62.1992 17.0317 62.4053 17.5857 63.075 17.5857H64.8437C65.3589 17.5857 65.5993 17.326 65.4619 16.824C65.3074 16.322 64.7235 15.595 63.968 14.7294C63.5558 14.2448 62.9376 13.7081 62.7487 13.4484C62.4911 13.1023 62.5598 12.9638 62.7487 12.6522C62.7316 12.6522 64.8952 9.57089 65.1185 8.53223Z" fill="white")
				rect(x="90" width="25" height="25" rx="5" fill="#282a33")
				path(d="M95.2219 12.0884C96.7249 11.2605 98.4026 10.5695 99.9702 9.87505C102.667 8.73751 105.375 7.61969 108.11 6.57901C108.642 6.40169 109.598 6.22828 109.692 7.01685C109.64 8.13306 109.429 9.24274 109.284 10.3524C108.917 12.7927 108.492 15.2246 108.077 17.6569C107.935 18.467 106.92 18.8865 106.27 18.368C104.71 17.3138 103.137 16.2699 101.596 15.1913C101.092 14.6785 101.56 13.942 102.01 13.5758C103.296 12.3091 104.659 11.2328 105.877 9.9006C106.206 9.10704 105.235 9.77583 104.915 9.98074C103.155 11.1934 101.438 12.4801 99.5829 13.5458C98.6352 14.0675 97.5307 13.6217 96.5834 13.3306C95.7341 12.9789 94.4895 12.6247 95.2218 12.0885L95.2219 12.0884Z" fill="white")