.footer {
	@include df-row;

	justify-content: center;
	margin: 0 auto 50px;
	width: 100%;

	&__picture {
		@include mobile {
			max-width: vw(501, $mobile);
		}

		@include tablet {
			max-width: vw(501, $tablet);
		}

		@include desktop {
			max-width: vw(501);
		}
	}
}
