.footer {
	@include df-row;

	justify-content: center;
	margin: 0 auto 50px;
	width: 100%;
	min-height: 160px;

	&__container {
		@include df-row;
	}

	&__picture {
		@include mobile {
			max-width: 100%;
		}

		@include mobileL {
			max-width: 75%;
		}

		@include tablet {
			max-width: vw(250, $tablet);
		}

		@include desktop {
			max-width: vw(250);
		}
	}
}
