.header {
	@include df-row;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 4;

	&__container {
		position: relative;
	}

	&__menu {
		transition: all 0.5s ease-out;

		@include mobile {
			@include df-column;

			position: fixed;
			left: 100%;
			top: 0;
			justify-content: space-between;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 60px 40px;
			width: calc(100%);
			height: 100vh;
			background: $color-low-gray;
			opacity: 0;
			visibility: hidden;
		}

		@include mobileL {
			padding: 100px 50px;
		}

		@include desktop {
			position: static;
			overflow: visible;
			padding: 0;
			width: auto;
			height: auto;
			background: none;
			opacity: 1;
			visibility: visible;
		}
	}

	&__list {
		position: relative;
		z-index: 7;

		.list__item {
			position: relative;
		}

		@include mobile {
			@include df-column;

			width: fit-content;
			gap: 40px;
		}

		@include mobileL {
			margin: 10% auto;
		}

		@include desktop {
			@include df-row;

			margin: auto;
			width: auto;
			gap: 32px;
		}
	}

	&__link {
		position: relative;
		z-index: 5;
		color: $color-black;

		@include mobile {
			@include font(700, 2.6rem, normal);
		}

		@include mobileL {
			@include font(700, 3rem, normal);
		}

		@include tablet {
			@include font(700, 3.6rem, normal);
		}

		@include desktop {
			@include font(700, 1.8rem, normal);
		}
	}

	&__line {
		opacity: 0;
		transition: all 0.5s ease-out;

		@include mobile {
			@include absolute-element(50px, 70px, -30px, 0, 0, 20px, 4);
		}

		@include mobileL {
			@include absolute-element(90px, 120px, -70px, 0, 0, 0, 4);
		}

		@include tablet {
			@include absolute-element(100px, 130px, -80px, 0, 0, 20px, 4);
		}

		@include desktop {
			@include absolute-element(110px, 170px, -100px, 0, 0, -30px, 4);
		}
	}

	&__line--active {
		opacity: 1;
	}

	&__image-burger {
		margin: 0 auto;
		transition: all 0.5s ease-out;

		@include mobile {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			max-width: 450px;
		}

		@include mobileL {
			width: vw(600, $tablet);
		}

		@include tablet {
			width: vw(600, $desktop);
		}

		@include desktop {
			position: static;
			display: none;
		}
	}

	.sidebar-input {
		display: none;
	}

	.sidebar-menu {
		position: relative;
		top: 0;
		z-index: 6;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		box-sizing: border-box;
		transition: all 0.5s ease-in;
		cursor: pointer;

		&__item {
			position: relative;
			left: 0;
			top: 0;
			display: block;
			border-radius: 5px;
			width: 26px;
			height: 2px;
			background: $color-black;
			opacity: 1;
			transition: 0.3s ease-in;
		}

		@include mobile {
			@include df-column;

			gap: 6px;
		}

		@include desktop {
			display: none;
		}
	}

	input[type="checkbox"]:checked ~ .sidebar-menu .top {
		top: 9px;
		transform: rotate(-45deg);
	}

	input[type="checkbox"]:checked ~ .sidebar-menu .bottom {
		top: -7px;
		transform: rotate(45deg);
	}

	input[type="checkbox"]:checked ~ .sidebar-menu .middle {
		opacity: 0;
	}

	input[type="checkbox"]:checked ~ &__menu,
	input[type="checkbox"]:checked ~ &__list {
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	@include hoverPointer {
		.header__link:hover {
			color: $color-red;
		}
	}

	@include mobile {
		justify-content: flex-end;
		padding: 25px 20px 15px;
		background-image:
			linear-gradient(
				20deg,
				rgba(255, 255, 255, -166.7) 45%,
				$color-low-gray 65%,
				$color-low-gray 100%
			);
	}

	@include mobileL {
		padding: 30px 20px;
	}

	@include tablet {
		background-image:
			linear-gradient(
				20deg,
				rgba(255, 255, 255, -166.7) 70%,
				$color-low-gray 90%,
				$color-low-gray 100%
			);
	}

	@include desktop {
		padding: 50px 150px 5px;
		background-color: $color-low-gray;
	}

	@include laptop {
		padding: 101px 150px 5px;
	}

	@include desktop-xl {
		justify-content: center;
		margin: 0 auto;
		padding: 80px 150px 15px;
		max-width: $desktop-xl * 1px;
	}
}

.low-index {
	z-index: -1;
}
