.header {
	@include df-row;

	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 4;
	justify-content: flex-end;
	padding: 101px 134px 15px 150px;
	background: $color-low-gray;

	&__logo {
		display: block;
		max-width: 140px;
		max-height: 140px;
		transition: $duration-normal;
	}

	&__menu {
		z-index: 5;
	}

	&__list {
		@include df-row;

		text-align: center;
		gap: 32px;
	}

	&__link {
		@include font(700, 1.8rem, normal);

		color: $color-black;

		// @include hover {
		// 	color: $color-black;
		// }

		// @include active {
		// 	color: $color-black;
		// }
	}

	&__burger {
		z-index: 100;
		flex-direction: column;
		margin: (-6.5px / 2) 0;
		margin-left: auto;
		width: 39px;
		color: $color-black;

		span {
			display: block;
			margin: 6.5px 0;
			width: 39px;
			height: 2px;
			background-color: currentColor;
			transition: $duration-normal;
		}

		@include active {
			span {
				&:first-child {
					transform: translate(0, 8px) rotate(-45deg);
				}

				&:last-child {
					transform: translate(0, -6px) rotate(45deg);
				}
			}
		}
	}

	&__line {
		@include absolute-element(285px, 150px, 10px, 0, 0, 64%, 4);
	}
}
