.home {
	@include df-column;

	gap: 200px;

	// &__picture {
	// 	display: block;
	// 	margin: 0 auto 40px;
	// 	max-width: vw(500);
	// 	opacity: 0;
	// 	transition: $duration-normal;

	// 	&[data-loaded="true"] {
	// 		opacity: 1;
	// 	}

	// 	&--2 {
	// 		margin-top: 40px;
	// 		margin-bottom: 0;
	// 	}
	// }

	&__line--1 {
		@include absolute-element(auto, auto, 16%, 0, 0, 150px, 5);
	}

	&__line--2 {
		@include absolute-element(auto, auto, 68.1%, 0, 0, 150px, 5);
	}

	@include desktop {
		padding: 94px vw(150) 200px;
	}

	@include desktop-xl {
		margin: 0 auto;
		padding: 94px 150px 200px;
		max-width: $desktop-xl * 1px;
	}
}
