.home {
	@include df-column;

	.container-lines__line--1 {
		@include mobile {
			display: none;
		}

		@include mobileM {
			@include absolute-element(calc(100% + 30px), auto, -100px, 0, 0, -10px, -1);

			display: block;
		}

		@include mobileXL {
			@include absolute-element(calc(100% + 30px), auto, -125px, 0, 0, -10px, -1);
		}

		@include tabletS {
			@include absolute-element(calc(100% + 30px), auto, -145px, 0, 0, -10px, -1);
		}

		@include tablet {
			@include absolute-element(calc(100% + 30px), auto, -175px, 0, 0, -10px, -1);
		}

		@include tabletL {
			@include absolute-element(calc(100% + 30px), auto, -200px, 0, 0, -10px, -1);
		}

		@include desktop {
			@include absolute-element(auto, auto, -300px, 0, 0, 0, -1);
		}

		@include laptop {
			@include absolute-element(auto, auto, -295px, 0, 0, 0, -1);
		}

		@include desktop-xl {
			@include absolute-element(auto, auto, -330px, 0, 0, 0, -1);
		}
	}

	.container-lines__line--2 {
		@include mobile {
			display: none;
		}

		@include mobileM {
			@include absolute-element(calc(100% + 30px), auto, -50px, 0, 0, -10px, -1);

			display: block;
		}

		@include mobileL {
			@include absolute-element(calc(100% + 30px), auto, -60px, 0, 0, -10px, -1);

			display: block;
		}

		@include tablet {
			@include absolute-element(calc(100% + 30px), auto, -85px, 0, 0, -10px, -1);
		}

		@include desktop {
			@include absolute-element(auto, auto, -170px, 0, 0, -10, -1);
		}

		@include laptop {
			@include absolute-element(auto, auto, -200px, 0, 0, -10, -1);
		}
	}

	@include mobile {
		padding: 15px 20px 0;
		gap: 40px;
	}

	@include mobileL {
		padding: 40px 40px 0;
	}

	@include desktop {
		padding: 0 vw(150);
		gap: 200px;
	}

	@include desktop-xl {
		margin: 0 auto;
		padding: 0 150px;
		max-width: $desktop-xl * 1px;
	}
}
