.home {
	@include df-column;

	.container-lines__line--1 {
		@include mobile {
			display: none;
		}

		@include mobileM {
			@include absolute-element(calc(100% + 20px), auto, -85px, 0, 0, -5px, -1);

			display: block;
		}

		// @include mobileL {
		// 	@include absolute-element(calc(100% + 20px), auto, -65px, 0, 0, -5px, 5);
		// }
		@include desktop {
			@include absolute-element(auto, auto, -90px, 0, 0, 0, -1);
		}

		@include desktop-xl {
			@include absolute-element(auto, auto, -130px, 0, 0, 0, -1);
		}
	}

	.container-lines__line--2 {
		@include mobile {
			display: none;
		}

		@include mobileM {
			@include absolute-element(calc(100% + 20px), auto, -50px, 0, 0, -10px, -1);

			display: block;
		}

		@include mobileL {
			@include absolute-element(calc(100% + 20px), auto, -60px, 0, 0, -10px, -1);

			display: block;
		}

		@include desktop {
			@include absolute-element(auto, auto, 0, 0, 0, 0, -1);
		}
	}

	@include mobile {
		padding: 15px 20px 40px;
		gap: 40px;
	}

	@include mobileL {
		padding: 40px;
	}

	@include desktop {
		padding: 94px vw(150) 200px;
		gap: 200px;
	}

	@include desktop-xl {
		margin: 0 auto;
		padding: 110px 150px 200px;
		max-width: $desktop-xl * 1px;
	}
}
