button.scroll-up
	svg.scroll-up__indicator(width="50" height="50" viewport="0 0 100 100" xmlns="https://www.w3.org/2000/svg")
		circle.indicator-default(cx="-50%" cy="50%" r="47%")
		circle.indicator-bar(cx="-50%" cy="50%" r="47%")
	span.scroll-up__text
	svg.scroll-up__arrow.scroll-up__block--hide(data-name="1-Arrow Up" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32")
		path(d="m26.71 10.29-10-10a1 1 0 0 0-1.41 0l-10 10 1.41 1.41L15 3.41V32h2V3.41l8.29 8.29z" fill="#282A33")