.share-bg
.share-field
	section.share#share-dynamic
		.share-content
			.share-content__title
				h2.share-content__title--name
					!= data.share.title
				h2.share-content__title--position
					!= data.share.position
			p.share-content__description
				!= data.share.description
			button.share-content__button
				!= data.share.caption
		.share-container
			+lazyPicture({
				src: `${baseDir}${data.share.image}`,
				alt: data.share.alt,
			}).share-container__picture