extends pug/base
prepend vars
append vars
block content
	include pug/data
	.site
		include pug/components/preloader
		include pug/components/header
		main.content(data-scroll-container)
			include pug/pages/home
		include pug/components/scrollIndicator
		include pug/components/share
	include pug/components/analytics