*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	-webkit-touch-callout: none;
}

html {
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: $font-primary;
	scroll-behavior: smooth;

	&.has-cursor,
	&.has-cursor * {
		// stylelint-disable-next-line
		cursor: none !important;
	}

	&.is-lock-scroll,
	&.is-lock-scroll body {
		overflow: hidden;
	}

	@include mobile {
		font-size: 62.5%;
	}

	@include desktop-xl {
		font-size: 80%;
	}
}

body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	background: $color-low-gray;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.title--hidden {
	@include desktop {
		opacity: 0;
		transform: translateX(-200px);
	}
}

.block-text--hidden {
	@include desktop {
		opacity: 0;
		transform: translateY(40px);
	}
}

.image-hidden--left {
	@include desktop {
		opacity: 0;
		transform: rotate(-45deg);
		transform-origin: right bottom;
		scale: 0.5;
	}
}

.image-hidden--right {
	@include desktop {
		opacity: 0;
		transform: rotate(45deg);
		transform-origin: left bottom;
		scale: 0.5;
	}
}

.active-up {
	@include visible(0.5);

	transform: translateY(0);
}

.active-right {
	@include visible(1);

	transform: translateX(0);
}

.active-image {
	@include visible(0.6);

	transform: rotate(0);
	scale: 1;
}

.title--visible,
.block-left--visible {
	@include visible(0.7);
}

.image--visible {
	@include visible(0.6);
}

.block-text--visible {
	@include visible(0.5);
}

main {
	flex: 1;
}

p {
	margin: 0;
}

a,
button {
	outline: none;
	transition: $duration-normal;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: currentColor;
}

svg {
	display: block;
	flex: 0 0 auto;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

figure,
picture {
	display: inline-block;
	margin: 0;
	line-height: 0;

	img {
		width: 100%;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
	user-select: none;
}

img[draggable="false"] {
	pointer-events: none;
	// stylelint-disable-next-line
	-webkit-user-drag: none;
}

fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

video {
	outline: none;
	width: 100%;
	height: 100%;
}

iframe {
	display: block;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
	background-color: transparent;
	transition: $duration-normal;
	user-select: none;

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100%;
		color: currentColor;
		transform: translateZ(0);
	}
}

.js-lazy-load:not(.is-loaded) {
	max-height: 50vh;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh; // fallback
	// stylelint-disable-next-line
	min-height: var(--vh);

	&__content {
		position: relative;
	}
}
