.title--visible,
.block-left--visible {
	@include visible(0.7);
}

.image--visible {
	@include visible(0.6);
}

.block-text--visible {
	@include visible(0.5);
}

.hidden-up {
	@include desktop {
		opacity: 0;
		transform: translateY(20px);
	}
}

.hidden-right {
	@include desktop {
		opacity: 0;
		transform: translateX(-100px);
	}

	@include laptop {
		opacity: 0;
		transform: translateX(-200px);
	}
}

.hidden-left {
	@include desktop {
		opacity: 0;
		transform: translateX(200px);
	}
}

.hidder-image__left {
	@include desktop {
		opacity: 0;
		transform: rotate(-45deg);
		transform-origin: right bottom;
		scale: 0.5;
	}
}

.hidder-image__right {
	@include desktop {
		opacity: 0;
		transform: rotate(45deg);
		transform-origin: left bottom;
		scale: 0.5;
	}
}